@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden; /* Prevent horizontal scroll */
}
